.bienvenida{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;
}
/*--------------bloque de presentacion-------------*/
.bienvenida .presentacion{
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
    
}
.bienvenida .logo{
    width: 200px;
}
/*-------------formulario de Registro---------------*/
.formInicio{
    margin: 1em;
    text-align: center;
    display: flex;
    flex-direction: row;   
}
.formulario{
    display: flex;
    flex-direction: column;
}
.formulario *{
    font-size: 1.5em;
    padding: .2em;
    margin: .5em;
}
.formulario input{
    outline: none;
}
.formulario button{
    background-color: rgb(112, 183, 241);
    cursor: pointer;
    border: none;
}
.formulario button:hover{
    background-color: rgb(78, 147, 204);
    box-shadow: 1px 1px black;
}
/*--------footer-----------------*/
footer{
    margin-top: 6.1em;
    padding: 2em 0;
}